<div class="sidebar">
  <div class="container">

    <ul class="sidebar-nav">

        <li class="sidebar-nav-item"><a href="/index.html">Home</a></li>
        <li class="sidebar-nav-item"><a href="/start.html">Getting started</a></li>
        <li class="sidebar-nav-item"><a href="/plotting.html">Plotting</a></li>
        <li class="sidebar-nav-item"><a href="/renderer.html">Renderer</a></li>
        <li class="sidebar-nav-item"><a href="/videos.html">Videos</a></li>
        <li class="sidebar-nav-item"><a href="/developers.html">For developers</a></li>

      <li class="sidebar-nav-item"><a href="https://github.com/JonyEpsilon/gorilla-repl">GitHub project</a></li>
    </ul>

  </div>
</div>
